	<div class="row">
		<p id="notice" class='text-center'><%= notice %></p>
	</div>

	<div id='welcome'>
	<h3>Simplify Caring For Your Dog</h3>
	<p>Do you have a dog?</p>
	<p>Are there multiple people who care for your dog, whether it's a roommate, a dog walker, or a significant other?</p>
	<p>If so, then <span id='brand'>Where My Dogs At?</span> is here to make caring for your dog easier!</p>
	<p>Once you register, you can add a dog, and then add other users as owners.</p>
	<p>With our site, you can easily keep track of whether your dog has been:</p>
	<ul>
		<li>Fed breakfast</li>
		<li>Fed dinner</li>
		<li>Walked</li>
		<li>Given treats</li>
	</ul>
	<br />
	<p>You can even keep daily notes about your dog!</p>
	<p>Now you, and all your dog's other owners, have a centralized location where you can check on and update the status of your dog. All without the hassle of having to text, call, or e-mail everyone else who cares about the dog to keep them updated.</p>
	<p>What are you waiting for? <%= link_to 'Sign up now!', new_owner_path %></p>
</div>