<h1>Add a new owner relationship for </h1>

<%=form_for @relationship do |f|%>
	<p>Dog: <%=f.collection_select :dog_id, Dog.where(id: params[:dog_id]), :id, :dog_name %></p>
	<!-- Dog.where(id: 1) -->
	<!-- Dog.all -->
	<p>Owner: <%=f.collection_select :owner_id, @users_not_already_owners, :id, :full_name %></p>
<!-- <p>Owner: <%#=f.collection_check_boxes:owner_id, Owner.all, :id, :full_name %></p> -->
	<%=f.submit 'Add this new relationship' %>
<% end %>