/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
body{
	padding-top: 50px;
}

.brandImage{
	height: 25px;
	width: 25px;
}
.numTreats{
	width: 75px;
}
// @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rock+Salt);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono|Gloria+Hallelujah|Rock+Salt);
$mainfonttabledata:'Gloria Hallelujah', cursive;
$mainfonttableheader:'Rock Salt', cursive; //seems like very real handwriting. Can look a little messy or childish
$mainfonttest: 'Ubuntu Mono';
$paletteBrown: #463730;
$paletteWhite: #F7F7FF;
$blueBackground: #3F7CAC;

#navigation{
	font-family: $mainfonttest;
	font-size: 115%;
}
//For navbar brand
.brandTextSize{
	font-size: 125%;
}

//Generic styling
.whiteText{
	color: $paletteWhite;
}

//Login page
.login {
	background: asset-url('black_lab_puppy.jpg') no-repeat top center fixed;
	background-size: cover;
	@extend .whiteText;
}
//Owner, dog, and relationship pages
.ownerContainer, .dogContainer, .relationshipContainer, .statusContainer{
	background-color: #2D2D2A;
}
.newOwnerSignup{
	 // background-image: asset-url('Dog_walk.jpg');
	background: asset-url('Dog_walk.jpg') no-repeat top center fixed;
  background-size: cover;
	@extend .whiteText;
}
.showH1Font{
	font-family: $mainfonttest;
}
.helperTextClass{
	color:white;
	text-align: center;
}
ul
{
  list-style: none;
  padding:0;
  margin:0;
}	
.separateOwnerInfo{
	height: 2px;
	width: 60%;
	background-color: $blueBackground;
}
table{
	border-collapse: collapse;
	// border-spacing:0;
	margin: 0 auto;
	font-family: $mainfonttableheader;
}
table.each_dog_status{
	width:90%;
} 
td.dogDetails, td.dogDailyStatus{
	padding: 20px 10px;
}
td.dogDetails{
	background-color: $blueBackground;
	width:30%;
}

thead>tr>th{
	background-color: #3071A9;
	font-family: $mainfonttableheader;

}
td {
		font-family: $mainfonttabledata;
		vertical-align: top;
}


// tr:nth-child(even) {
// 	background: white;
// }
// tr:nth-child(odd){
// 		background: gray;
// }
