/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require rails_bootstrap_forms
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
// @import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rock+Salt);
// @import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono|Gloria+Hallelujah|Rock+Salt);
// $mainfonttest: 'Ubuntu Mono';
@import url(https://fonts.googleapis.com/css?family=Gloria+Hallelujah|Rock+Salt);
$mainfonttabledata:'Gloria Hallelujah', cursive;
$mainfonttableheader:'Rock Salt', cursive; //seems like very real handwriting. Can look a little messy or childish
$paletteBrown: #463730;
$paletteWhite: #F7F7FF;
$blueBackground: #3F7CAC;
body{
	padding-top: 50px;
}

.brandImage, .avatarImage{
	height: 25px;
	width: 25px;
}
.numTreats{
	width: 75px;
}

#navigation{
	// font-family: $mainfonttest;
	font-size: 115%;
}
//For navbar brand
.brandTextSize{
	font-size: 125%;
	font-family: $mainfonttableheader;
}
h3.todayStatusHeader{
	margin-top: 0px;
}
//Generic styling
.whiteText{
	color: $paletteWhite;
}
a.linksColor{
	color: $paletteWhite;
}
td.ownerListing{
	padding-bottom: 15px;
}
//Login page
.login {
	background: asset-url('black_lab_puppy.jpg') no-repeat top center fixed;
	background-size: cover;
	@extend .whiteText;
}
//Welcome page
.welcomeContainer {
	background: asset-url('black_lab_puppy.jpg') no-repeat top center fixed;
	background-size: cover;
	@extend .whiteText;
}
#welcome{
	opacity: 0.6;
	background-color: white;
	width: 600px;
	margin: auto;
	position: relative;
	top: 20px;
	padding:0.7em 0.5em;
	border-radius: 5%;
}
#welcome>h3{
	color: black;
	text-align: center;
	font-size: 2.5em;
	margin-top: 0em;
}
#welcome>p, #welcome>ul>li{
	color: black;
	font-size: 1.2em;
}
#welcome>ul>li{
	width: 80%;
	margin: 0 auto;
	list-style-image: asset-url('dogFootprint.png');
}
#brand{
	font-family: $mainfonttableheader;
	font-size: 0.9em;
}
//Owner, dog, and relationship pages
.ownerContainer, .dogContainer, .relationshipContainer, .statusContainer{
	background-color: #2D2D2A;
}
.newOwnerSignup{
	 // background-image: asset-url('Dog_walk.jpg');
	background: asset-url('Dog_walk.jpg') no-repeat top center fixed;
  background-size: cover;
	@extend .whiteText;
}
.showH1Font{
	// font-family: $mainfonttest;
}
.helperTextClass{
	color:white;
	text-align: center;
}
ul
{
  list-style: none;
  padding:0;
  margin:0;
}	
.separateOwnerInfo{
	height: 2px;
	width: 60%;
	background-color: $blueBackground;
}
table{
	border-collapse: collapse;
	// border-spacing:0;
	margin: 0 auto;
	font-family: $mainfonttableheader;
}
table.each_dog_status{
	width:90%;
} 
td.dogDetails, td.dogDailyStatus{
	padding: 20px 10px;
}
td.dogDetails{
	background-color: $blueBackground;
	width:30%;
}

thead>tr>th{
	background-color: #3071A9;
	font-family: $mainfonttableheader;

}
td {
		font-family: $mainfonttabledata;
		vertical-align: top;
}