// Place all the styles related to the dogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.dogContainer{

	background-image: url('dog_paw.jpeg');
	background-size: 80px 80px;
  background-repeat: repeat-y;
	text-align: center;
}
ul
{
    list-style: none;
    padding:0;
    margin:0;
}